body {
  max-width: 100%;
  overflow-x: hidden !important;
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden !important;
  }
}


/*  N A V B A R  */
nav.navbar.bg-body-tertiary.mb-3.navbar.navbar-expand-sm.navbar-light {
  margin-bottom: 0 !important;
}

.logo-3d {
  max-width: 45%;
  opacity: 0.5;
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .logo-3d {
    max-width: 50%;
    opacity: 0.5;
    top: 10%;
    left: 54%;
    transform: translateX(-50%);
  }
}

/*  E N D   N A V B A R  */


/*  C A R O U S E L  */
.carousel {
  height: 90%;
  width: 100%;
}

.carousel img {
  object-fit: cover;
  width: 100%;
  height: 90vh;
}

@media (max-width: 767px) {
  .carousel {
    height: 50%;
  }

  .carousel img {
    height: 50%;
  }
}

/*  E N D  C A R O U S E L  */


/*  B U T T O N S  C A R O U S E L  */
.contact-button {
  font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 0.2em;
  font-size: small;
  border: 2px solid lightgrey;
  color: lightgrey;
  background-color: rgba(35, 35, 35, 0.4);
  box-shadow: 0 0 5px rgba(111, 111, 111, 0.3);
  padding: 20px 40px;
  border-radius: 1.5px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: border-color 0, 3s ease, color 0, 3 ease, background-color 0, 3 ease;
}

.contact-button:hover {
  border: 2px solid lightgrey;
  color: lightgrey;
  background-color: transparent;
  box-shadow: 0 0 5px rgba(111, 111, 111, 0.3);
}

@media (max-width: 767px) {
  .contact-button {
    border: 2px solid lightgrey;
    color: lightgrey;
    background-color: rgba(35, 35, 35, 0.4);
    box-shadow: 0 0 5px rgba(111, 111, 111, 0.3);
    font-size: x-small;
    size: 10px;
    padding: 10px 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*  E N D   B U T T O N S  */


/*  M E D I A  */
.media {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 40, 40);
  padding-top: 60px;
  padding-bottom: 80px;
}

.media img {
  max-width: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

/*  E N D  M E D I A  */


/*  F O O T E R  */
.footer {
  display: block;
  justify-content: center;
  background-color: rgb(40, 40, 40);
  padding-bottom: 30px;
}

.footer p {
  color: lightgrey;
  font-size: xx-small;
  text-align: center;
}

.footer .location img {
  max-width: 10px;
  height: 100%;
}

.location p {
  padding-left: 25px;
  padding-bottom: 20px;
  font-size: small;
}


.location {
  display: flex;
  justify-content: center;
}

/*  E N D  F O O T E R  */


/*   S E R V I C E S   */
.service-carousel h2 {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .container-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service-carousel {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    width: 400px;

  }

  .service-carousel img {
    height: 70vh;
    width: 400px;
    object-fit: cover;
  }
}


@media (max-width: 767px) {
  .container-services {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .service-carousel {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .service-carousel img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
  }
}

.more-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px;
  margin-bottom: 100px;
}

.more-info h4 {
  margin-top: 20px;
  margin-bottom: 40px;

}

/*   E N D  S E R V I C E S   */


/*   C O N T A C T   */
.button-social {
  margin-top: 40px;
  font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 0.2em;
  font-size: small;
  display: inline-block;
  padding: 15px 60px;
  border: 2px solid #444;
  border-radius: 1px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #444;
  background-color: transparent;

  &:hover {
    background-color: #444;
    color: white;
  }
}

.contact-container {
  margin-top: 20px;
  margin: 30px;
  text-align: center;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .horarios {
    display: flex;
    justify-content: center;
  }

  .days {
    margin-right: 40px;
  }

  .social a {
    margin: 60px;
  }

  .social {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .horarios {
    display: flex;
    justify-content: space-between;
  }

  .button-social {
    width: 100%;
  }

  .social {
    display: flex;
    flex-direction: column;
  }
}

/*   E N D   C O N T A C T   */


/*   T Y P I N G   */
.wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 28ch;
  animation: typing 3s steps(24), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@media (max-width:767px) {
  .typing-demo {
    width: 33ch;
    font-size: 0.9em;
    font-weight: bold;

  }
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

/*   T Y P I N G   E N D    */


/*   A B O U T   */
.image-container {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.about-info p {
  text-align: justify;
}

.about-text {
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .about-image {
    max-width: 850px;
    margin-bottom: 40px;
  }

  .about-info {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .about-image {
    max-width: 100vw;
    padding: 20px 20px 20px;
  }

  .about-info p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: smaller;
  }
}

/*   E N D  A B O U T   */


/*  S P I N N E R */
.spinner-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

.spinner--display {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.spinner {
  position: relative;
  background-color: blueviolet;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: conic-gradient(rgb(51, 13, 191), rgb(5, 165, 144), rgb(245, 238, 51), white);
  animation: spin 1.4s linear infinite;
  box-shadow: 0px 0px 150px -75px black;
}

.spinner::before {
  content: "";
  background-color: white;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 110px -70px;

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*  E N D   S P I N N E R */