.white-button {
    margin-top: 40px;
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.2em;
    font-size: small;
    padding: 15px 60px;
    border: 2px solid #f1f1f1;
    border-radius: 1px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #f1f1f1;
    background-color: transparent;

    &:hover {
        background-color: #f1f1f1;
        color: #444;
    }
}

@media (max-width: 767px) {
    .white-button {
        width: 90%;
    }
}

.grey-button {
    margin-top: 40px;
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.2em;
    font-size: small;
    padding: 15px 60px;
    border: 2px solid #444;
    border-radius: 1px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #444;
    background-color: transparent;

    &:hover {
        background-color: #444;
        color: #f1f1f1;
    }
}

@media (max-width: 767px) {
    .grey-button {
        width: 90%;
    }
}