body {
  margin: 0;
  padding: 0;
  font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: 0.2em;
  font-size: small;
  max-width: 100%;
  overflow-x: hidden;
}
