 .menu-item {
     display: flex;
     justify-content: space-between;
     margin-bottom: 5px;
     margin-top: 5px;
     margin-left: 20px;
     margin-right: 20px;
 }

 .menu-container h3 {
     text-align: center;
     margin-bottom: 25px;
     margin-top: 40px;
 }

 .menu {
     flex: 1;
 }

 .menu-button {
     text-align: center;
 }

 .delivery {
     margin-top: 25px;
     color: #8c1b1b;
 }

 .price {
     text-align: right;
     width: 80px;
 }

 @media (min-width: 767px) {
     .menu-container {
         width: 45%;
         margin: 0 auto;
     }
 }

 @media (max-width: 767px) {
     .menu-item p {
         font-size: smaller;
     }
 }

 /*   R I B B O N  */
 .menu-slide-container {
     width: 100vw;
     height: auto;
     margin: auto;
     overflow: hidden;
     margin-bottom: 20px;
 }

 .menu-slide-container .slide-track {
     display: flex;
     animation: scroll 60s linear infinite;
     -webkit-animation: scroll 60s linear infinite;
     width: calc(300px * 14);
 }

 .menu-slide-container .slide {
     width: 300px;
 }

 .menu-slide-container .slide img {
     margin-left: 40px;
     width: 100%;
     margin-top: 20px;
 }

 @keyframes scroll {
     0% {
         transform: translatex(0);
         webkit-transform: translatex(0);
     }

     100% {
         transform: translatex(calc(-300px * 7));
         webkit-transform: translatex(calc(-300px * 7));
     }
 }

 /*   E N D     R I B B O N  */