/* Navbar.css */
.navbar {
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.2em;
    font-size: small;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.links-drop {
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.2em;
    font-size: smaller;
    
}

.mb-3 {
    margin-bottom: 0 !important;
}

@media (min-width: 768px) {
    .dropdown-menu {
        background-color: #f8f9fa;
    }
}

.navbar .dropdown-menu {
    right: 0;
    left: auto;
}

div.dropdown-menu.show {
    border:none;
    border-radius: 1px;
}

.logo {
    height: 60px;
    width: auto;
    margin-top: 5px;
}

.logo1 {
    max-width: 50px;
}

@media (max-width: 767px) {
    .logo2 {
        display: inline;
        vertical-align: middle;
        margin-right: 10px;
    }
}


.logo2 {
    max-width: 200px;
}


/* Estilos para el subrayado animado */

.navbar a {
    position: relative;
    text-decoration: none;
    color: #242424;
    /* Color del texto */
}

.links{
    margin-left: 25px;
}


.navbar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #242424;
    /* Grosor del subrayado */
    background-color: #242424;
    /* Color del subrayado */
    transform: scaleX(0);
    /* Inicialmente no visible */
    transform-origin: left;
    /* Punto de origen a la izquierda para el efecto de animación */
    transition: transform 0.3s ease;
    /* Transición de animación */
}



.navbar a:hover::before {
    transform: scaleX(1);
    /* Aparece con la animación de izquierda a derecha al hacer hover */
}