.pop-up-dinner p {
    text-align: justify;
    color: #444;
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.2em;
}

.pop-up-dinner {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.top-container h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 60px;
    color: #444;
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.2em;
}

.pop-up-container {
    display: flex;
    justify-content: center;
    border: 1px solid transparent
}

/* desktop */
@media (min-width: 768px) {
    .pop-up-pic {
        max-width: 850px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .pop-up-dinner p {
        padding-top: 40px;
        padding-bottom: 40px;
        max-width: 850px;

    }

    .pop-up-dinner h1 {
        padding-top: 40px;
        padding-bottom: 40px;
        max-width: 850px;
        text-align: center;
    }

    .pop-up-dinner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .pop-up-pic {
        max-width: 100vw;
        padding: 20px 20px 20px;
    }

    .pop-up-dinner p {
        padding-left: 20px;
        padding-right: 20px;
        font-size: smaller;
    }

    .pop-up-dinner h1 {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        margin-bottom: 40px;
    }
}

.pop-up-top {
    width: 100%;
}


/*   T Y P I N G   */
.wrapper-pop {
    /*This part is important for centering*/
    margin-top: 50px;
    display: grid;
    place-items: center;
}

.typing-demo-pop {
    width: 17ch;
    animation: typing 3s steps(14), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.2em;
    font-size: 2em;
    font-weight: bold;
}

@media (max-width:767px) {
    .typing-demo-pop {
        width: 16.7ch;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 30px;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

/*   T Y P I N G   E N D    */