/*  P R O G R A M  */
.program h1 {
    padding: 10px 10px 10px;
    text-align: center;
}

.program p {
    padding: 10px 10px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.program {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bio {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*  E N D  P R O G R A M  */


/*   T Y P I N G   */
.wrapper-program {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    margin-bottom: 70px;
}

.typing-demo-program {
    width: 13.5ch;
    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3em;
    color: #444;
}

@media (max-width:767px) {
    .typing-demo-program {
        width: 14ch;
        font-size: 2em;
    }
}

.catering h1 {
    color: #444;
}

.catering {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(241, 241, 241);
}

.bio h1 {
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bio {
    padding-bottom: 100px;
}

/*   E N D T Y P I N G   */

.divider {
    width: 1px;
    height: 100px;
    background-color: #444;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo-h {
    width: 90%;
    margin-top: 20px;
}

.program-logo {
    padding-bottom: 30px;
    padding-top: 20px;
}

@media (min-width: 768px) {
    .program-carousel {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .program-carousel img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 767px) {
    .program-carousel {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .program-carousel img {
        height: 80vh;
        width: 100%;
        object-fit: cover;
    }
}


/*   R I B B O N  */
.slide-container {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slide-container .slide-track {
    display: flex;
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(200px * 14);
}

.slide-container .slide {
    width: 200px;
}

.slide-container .slide img {
    width: 100%;
    margin-top: 20px;
}

@keyframes scroll {
    0% {
        transform: translatex(0);
        webkit-transform: translatex(0);
    }
    100% {
        transform: translatex(calc(-200px * 7));
        webkit-transform: translatex(calc(-200px * 7));
    }
}

/*   R I B B O N  */


