/*  P R O G R A M  */
.program h1 {
    padding: 10px 10px 10px;
    text-align: center;
}

.program p {
    padding: 10px 10px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.program {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catering {
    padding-bottom: 60px;
    padding-top: 60px;
}

.catering h1 {
    color: #444;
}

.bio h1 {
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.2em;
}

.bio {
    background-color: rgb(241, 241, 241);
    padding-bottom: 60px;
    padding-top: 60px;
}

.logo-h {
    width: 90%;
    margin-top: 20px;
}

.program-logo {
    padding-bottom: 30px;
    padding-top: 20px;
}

@media (min-width: 768px) {
    .program-carousel {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .program-carousel img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 767px) {
    .program-carousel {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .program-carousel img {
        height: 80vh;
        width: 100%;
        object-fit: cover;
    }
}

.popup-div {
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
}

.button {
    margin-top: 40px;
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.2em;
    font-size: small;
    display: inline-block;
    padding: 15px 60px;
    border: 2px solid #444;
    border-radius: 1px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #444;
    background-color: transparent;

    &:hover {
        background-color: #444;
        color: white;
    }
}

.pop-h {
    color: #444;
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.2em;
}

/*   R I B B O N  */
.slide-container {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.slide-container .slide-track {
    display: flex;
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(200px * 14);
}

.slide-container .slide {
    width: 200px;
}

.slide-container .slide img {
    width: 100%;
    margin-top: 20px;
}

@keyframes scroll {
    0% {
        transform: translatex(0);
        webkit-transform: translatex(0);
    }

    100% {
        transform: translatex(calc(-200px * 7));
        webkit-transform: translatex(calc(-200px * 7));
    }
}

/*   E N D     R I B B O N  */